<h1><%= @service.name %></h1>
<p><%= @service.description %></p>

<%= link_to 'Edit', edit_service_providers_service_path(@service) %> |
<%= link_to 'Back to List', service_providers_services_path %>
